/* Selects any invalid <input> */
label {
  display: block;
  margin: 1px;
  padding: 1px;
}

.field {
  margin: 1px;
  padding: 1px;
}

input:required:invalid {
  border-color: #c00000;
}

.container{
  width:100%;
  padding: 40px;
  margin: 100px auto;
  font-family:'Courier New', Courier, monospace
}
.jumbotron{
  font-weight: bold;
}
.col-md-8{
  background-color: paleturquoise;
}
.grid-list{
  background-color: paleturquoise;
  padding: 30px;
}

body{
  background-image:url("/static/media/Flowers.png");
  background-size: 100% auto;
  /*background-attachment: fixed;*/
}
.col-md-2, .col-md-1{
  border: #5a5a5a thin solid;

}