<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thrift Store Crowdsourcing</title>

    <!-- Bring in our bootstrap stylesheet -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- Bring in our own stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- <link rel="stylesheet" href="/static/css/style.css"> -->
    <link rel="shortcut icon" href="#">
    <body>
        <div class="container">
            <div class="jumbotron" style="text-align: center">
                <h1>Thrift Store Finds</h1>
                <p>Enter the clothes item below!</p>
            </div>

            <div class="row formbackground">
                <div class="col-md-offset-2 col-md-8">
                    <form method="POST" action="/send" role="form", name="thriftform">
                        <div class="form-group">
                            <label for="inputItem">Clothes Item*</label>
                            <input required type="text" class="form-control" id="inputItem" name="thriftItem" placeholder="Item">
                            <div id="errorItem" class="error"></div>
                        </div>
                        <div class="form-group">
                            <label for="inputSize">Clothes Size*</label>
                            <input required type="text" class="form-control" id="inputSize" name="thriftSize" placeholder="Size">
                            <div id="errorSize" class="error"></div>
                        </div>
                        <div class="form-group">
                            <label for="inputName">Your Name*</label>
                            <input required type="text" class="form-control" id="inputName" name="thriftName" placeholder="Name">
                            <div id="errorName" class="error"></div>
                        </div>
                        <div class="form-group">
                            <label for="inputColor">Color of Item*</label>
                            <input required type="text" class="form-control" id="inputColor" name="thriftColor" placeholder="Color">
                            <div id="errorColor" class="error"></div>
                        </div>
                        <div class="form-group">
                            <label for="inputMaxprice">Max Price (numbers only)*</label>
                            <input required type="number" class="form-control" id="inputMaxprice" name="thriftMaxprice" placeholder="Max Price">
                            <div id="errorPrice" class="error"></div>
                        </div>
                        <div class="form-group">
                            <label for="inputCondition">Condition of Clothes*</label>
                            <input required type="text" class="form-control" id="inputCondition" name="thriftCondition" placeholder="Condition">
                            <div id="errorCondition" class="error"></div>
                        </div>
                        <div class="form-group">
                            <label for="inputNotes">Additional Notes*</label>
                            <input required type="text" class="form-control" id="inputNotes" name="thriftNotes" placeholder="Notes">
                            <div id="errorNotes" class="error"></div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <br>
                    <br>
                </div>
            </div>

        </div>
    
    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    </body>

</html>
