<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thrift Store Crowdsourcing</title>
    
    <!-- Bring in our bootstrap stylesheet -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <script src="https://d3js.org/d3.v6.js"></script>
    <!-- Bring in our own stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- <link rel="stylesheet" href="/static/css/style.css"> -->
</head>

<body>
    <div class="container">
        <div class="jumbotron" style="text-align: center">
            <h1>Thrift Store Finds</h1>
            <p>See list below for items to search for at your thrift store of choice to help your family and friends with the hunt.</p>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>Current list of items</h2>
                <br>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md">
                <h5>Item</h5>
            </div>
            <div class="col-md">
                <h5>Size</h5>
            </div>
            <div class="col-md">
                <h5>Name</h5>
            </div>
            <div class="col-md">
                <h5>Color</h5>
            </div>
            <div class="col-md">
                <h5>Max Price</h5>
            </div>
            <div class="col-md">
                <h5>Condition</h5>
            </div>
            <div class="col-md">
                <h5>Notes</h5>
            </div>
            <div class="col-md">
                <h5>Item Purchased?</h5>
            </div>
        </div>

        <!-- {% for entry in database %}
        <div class="row rowData">
        <div class="col-md">
            <p>{{ entry. }}</p>
        </div>
        <div class="col-md">
            <p>{{ entry. }}</p>
        </div>
        <div class="col-md">
            <p>{{ entry. }}</p>
        </div>
        <div class="col-md">
            <p>{{ entry. }}</p>
        </div>
        <div class="col-md">
            <p>{{ entry. }}</p>
        </div>
        <div class="col-md">
            <p>{{ entry. }}</p>
        </div>
        <div class="col-md">
            <p>{{ entry. }}</p>
        </div>
        <div class="col-md">
            <button type='button' class='btn btn-primary btn-sm' id= 'id' {{ entry. }}>Remove</button>
        </div>
        </div>
        {% endfor %} -->
    
        <br>
        <br>
        <div class="row">
            <div class="col-md-12">
                <h2><a href="/form">Add an item here!</a></h2>
            </div>
        </div>
    </div>

        
    <!-- D3 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>

    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Our Javascript -->
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <!-- <script src="/static/js/app.js"></script> -->
</body>

</html>
